:root {
  --primary-dark: hsl(300, 43%, 22%);
  --primary-light: hsl(333, 80%, 67%);
  --secondary-dark: hsl(303, 10%, 53%);
  --secondary-light: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: "League Spartan";
  src: url('fonts/LeagueSpartan-VariableFont_wght.ttf');
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  /*  text-align: center; */
  /* margin: 5rem 1rem 2.5rem 1rem; */
  margin: 3rem auto;
  width: 90%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.text p {
  margin-block-start: 1rem;
}

.text h1 {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 3.5rem;
  max-width: 14ch;
  margin: 1rem auto;
  /*  line-height: 3rem; */
  letter-spacing: -2px;
  text-align: center;
}

.text p {
  color: hsl(300, 43%, 22%);
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 1rem auto;
  text-align: center;
  width: 70%;
}

.valorations {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
}

.valorations p {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--secondary-light);
  border-radius: .5rem;
  font-weight: 500;
  /* font-size: 1rem; */
  max-width: 100%;
  font-size: 1.005rem;
  flex-direction: column;
}

.valorations p .star {
  gap: .5rem;
  display: flex;
  padding-left: 1.5rem;
}

.testimony {
  background-color: var(--primary-dark);
  border-radius: .5rem;
  padding: 2.5rem 2rem .5rem 2.5rem;
  text-align: start;
  margin-bottom: 1rem;
}

.testimony .header img {
  border-radius: 50%;
}

.testimony .header .right span:nth-child(1) {
  color: var(--white);
  font-weight: 500;
  font-size: 1.1rem;
}

.testimony .header .right span:nth-child(2) {
  color: #ab5e92;
  font-size: 1.1rem;
  font-weight: 500;
}

.testimony p {
  color: var(--white);
  font-weight: 400;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.35rem;
  margin-block-start: 2rem;
}

.testimony .header {
  display: flex;
}

.testimony .header .right {
  display: flex;
  flex-direction: column;
  padding-inline-start: 1.5rem;
  align-items: center;
  justify-content: center;
  gap: .3rem;
}

@media (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
  }

  .customers {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "section1 section2"
      "section1 section2";
    margin: 0 0 5rem 0;
  }

  .text {
    grid-area: section1;
  }

  .text h1 {
    margin: 1rem 0;
    text-align: left;
  }

  .text p {
    margin: 1rem 0;
    text-align: left;
  }

  .valorations {
    grid-area: section2;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .valorations p {
    max-width: 60%;
    flex-direction: row;
    align-items: baseline;
  }

  .valorations p:nth-child(1) {
    margin-left: 7rem;
  }

  .valorations p:nth-child(2) {
    margin-left: 15rem;
  }

  .valorations p:nth-child(3) {
    margin-left: 23rem;
  }

  .testimony {
    padding: 2.5rem;
  }

  .testimony p {
    margin-block-start: 1rem;
  }

  .testimony:nth-child(2) {
    top: 1rem;
    position: relative;
  }

  .testimony:nth-child(3) {
    top: 2rem;
    position: relative;
  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  @media (min-width: 1350px) {
    body {
      width: 85%;
    }
  }
}